*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Login Page Style */
.main-body{
    background-image: url('../imges/main_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
/* Login Page Style */